.idea/*
**/target/
**/app_data/
**/app_log/
*.iml
.ida_modules/
node_modules/
*.log
mvc-app.war
.project
.classpath
.launch
.settings/
.vagrant
*.log.*
Fedora-Dockerfiles/
tools/local-docker-compose/.vagrant/
tools/local-docker-compose/db_dir/*
tools/local-docker-compose/csd-apache_logdir/*
tools/local-docker-compose/csd-app_logdir/*
